<app-header></app-header>

<div class="container">
  <router-outlet></router-outlet>

  <a [routerLink]="['users']" [queryParams]="{username: 'mohamed', age: '50'}"> Go To User </a>

</div>


<div class="container">
  <app-server-form
    (serverCreated)="onAddServer($event)"
    (bpCreated)="onAddBluePrintServer($event)"
  >

  </app-server-form>
<hr />
  <app-server-element
    *ngFor="let server of servers"
    [serverElm]="server"
  >
    <p #textContentParagraph>
      <strong *ngIf="server.type === 'server'" style="color: red;"> {{server.content}} </strong>
      <strong *ngIf="server.type === 'blueprint'" [ngStyle]="{color: 'black'}"> {{server.content}} </strong>
    </p>
  </app-server-element>

  <hr><br />
  <ul>
    <li

        defaultTextTransform="lowercase"
        [appBetterCapital]="'uppercase'"
        *ngFor="let user of Users"
        [ngStyle]="{color: user === 'mohamed' ? 'red' : 'black'}">
      {{ user }} </li>
  </ul>
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5"> My Number Is 5 </p>
    <p *ngSwitchCase="10"> My Number Is 10 </p>
    <p *ngSwitchCase="100"> My Number Is 100 </p>
    <p *ngSwitchDefault> My Number Is Default </p>
  </div>
</div>


